<%- include partials/header.ejs %>

    <h1>Barrie Business Bureau</h1>
    <p>We're here to make finding a business in Barrie as easy as possible. List your business with us to get found.</p>
    
<%- include partials/footer.ejs %>
