<%- include partials/header.ejs %>

    <h1>Barrie Business Bureau</h1>
    <p>We're here to make finding a business in Barrie as easy as possible. List your business with us to get found.</p>
    <ul>
    	<li><a href="/auth/login">Login</a></li>
    	<li><a href="/auth/register">Register</a></li>
    </ul>
<%- include partials/footer.ejs %>
